:root {
  --site-col-btnOff: #fff; // #f1f2ff; // #e0e2ee;
  --site-col-panel-active: #f1f2ff;
  --site-col-btn-hover: #d3d7ff;
}

html[data-theme="light"] {  
  .chakra-accordion__item {
    border-top-color: rgb(193, 193, 193);
    border-bottom-color: rgb(193, 193, 193);
  } 
}
 
.accordion {
  border-width: 0;
}
.accordion__button[aria-expanded="true"] {
  background: var(--site-col-btn-hover)!important;
}
.accordion__item {
  background: var(--site-col-panel-active)!important;
}
.accordion__button {
  font-size: 1.25rem;
  font-weight: bold;
  background: var(--site-col-btnOff)!important;
  

  &:hover {
    background: var(--site-col-btn-hover)!important;
  }
}








.section-documentation {
  // border: 10px solid turquoise;

  .chakra-card__header {
    // border: 3px solid blue;
    .chakra-heading {
      margin: 0;
    }
  }

  // .chakra-card__body {
  //   // border: 3px solid blueviolet;
  //   padding-top: 0;
  // }
}