
html[data-theme="light"] {  
  .chakra-accordion__item {
    border-top-color: rgb(193, 193, 193);
    border-bottom-color: rgb(193, 193, 193);
  } 
}
 
 






.section-documentation {
  // border: 10px solid turquoise;

  .chakra-card__header {
    // border: 3px solid blue;
    .chakra-heading {
      margin: 0;
    }
  }

  .chakra-card__body {
    // border: 3px solid blueviolet;
    padding-top: 0;
  }
}