@import './initialization';
@import './_utilities';
@import './variables';
@import './accordion';

 

/*

  DELETED
  ------------

.AppDemoFrame {
    border: 5px solid turquoise;
    padding: 3rem;
    min-height: 300px;
    padding: 2rem;
     
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .AppDemoFrame__header {
    margin-bottom: 2rem;
    max-width: 560px;
    text-align: center;
  }
  .AppDemoFrame__wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

*/



.App {
  min-height: 100vh;
}

.main-sidebar {    
  position: fixed;
  height: 100vh;

  padding: 2.4rem;
  background-color: #101B3B;
  color: #fff;
}
.main-sidebar a {
  color: #A5AFCD;
}
.main-sidebar a:hover,
.main-sidebar a.active {
  color: #c2fd00;
  text-decoration: none;
}

.main-content {
  padding: 3.5rem;
}
.main-content a {
  text-decoration: underline;
}
.main-content a:hover {
  text-decoration: none;
}

.form-feedback textarea {
  min-height: 100px;
}

.navbar {
  min-height: 60px;
}

.theme-dark {
  background-color: #121212;
}
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5 {
  color: #dce3fb;
}
.theme-dark p,
.theme-dark span,
.theme-dark ul {
  color: #b3bddf;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge-dark {
  color: #fff;
  background-color: #343a40;
}




/**
 * Live order app
 * ------------
*/
.app-liveOrder {
  width: 100%;
}
.app-liveOrder__row {
  display: flex;
  /* background-color: hsl(210, 55%, 92%); */
}
.app-liveOrder__row p {
  margin: 0;
}




/**
 * CoordinatesMouseLogger
 * ------------
*/
.CoordinatesMouseLogger {
  border: 3px solid rgb(64, 144, 224);
  max-width: 300px;
  margin: 0 auto;
}

.PointMouseLogger {
  border: 3px solid rgb(224, 64, 221);
  margin: 0 auto;
}