
.chakra-code {
  display: block!important;
  margin: .4rem 0;
  display: block;
  padding: .7rem 1.3rem!important;
}
.code, code {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #ccc;
} 