:root {
    --website-theme-light-aaaa-0: #E0FFF2; 
    --website-theme-light-aaaa-1: #C9FFE8; 
    --website-theme-light-aaaa-2: #A5FFD9; 
    --website-theme-light-aaaa-x: #ADFF00;
    --website-theme-light-aaaa-y: #00ff94;
    --website-theme-light-aaaa-3: #80D1A5; 
    --website-theme-light-aaaa-7: #80AA27; 
}