

.MouseLoggerApp {
  margin-top: 2rem;
  border: 10px solid turquoise;
  min-height: 450px;
  text-align: center;
}

.CoordinatesMouseLogger {
  border: 3px solid rgb(64, 144, 224);
  max-width: 300px;
  margin: 2rem auto;
}

.PointMouseLogger {
  border: 3px solid rgb(224, 64, 221);
  margin: 5rem auto;
}