:root {
    --website-theme-light-aaaa-0: #E0FFF2; 
    --website-theme-light-aaaa-1: #C9FFE8; 
    --website-theme-light-aaaa-2: #A5FFD9; 
    --website-theme-light-aaaa-x: #ADFF00;
    --website-theme-light-aaaa-y: #00ff94;
    --website-theme-light-aaaa-3: #80D1A5; 
    --website-theme-light-aaaa-7: #80AA27; 


    --website-col-aaa-1: #EDEBF7;
    --website-col-aaa-1b: #C2BFD4;
    --website-col-aaa-1c: #C7C1E5;
    --website-col-aaa-1d: #9687F8;
    --website-col-aaa-2: #6C6AA9;
    --website-col-aaa-2b: #5540D8;
    --website-col-aaa-3: #494865;
    --website-col-aaa-4: #2E1E94;
    --website-col-aaa-5: #272056;
    --website-col-aaa-6: #22202C;

    --website-col-bbb-1: #80FF00;
    --website-col-bbb-2: #00FF94;
}






 